.background-image-container {
  background-image: url('../images/EmptyStage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.create-button,
input[type="text"],
button,
select {
  font-family: Arial, sans-serif; /* Set font family for all text elements */
  font-weight: normal; /* Set font weight to normal */
  font-style: normal; /* Set font style to normal */
}

.create-button{
  color: white;
  border-radius: 5px;
  background-color: #007BFF;
}

.song-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Position the container fixed */
  top: 0;
  left: 0;
  width: 100%; /* Make the container full width */
  height: 100%; /* Make the container full height */
}

.custom-h2 {
  font-size: 54px;
  color: white;
  font-weight: normal; /* Set font weight to normal */
  margin-bottom: 50px;
}

.newSong-div {
  border-radius: 15px;
  width: 450px;
  height: 300px;
  background-color: #f5f5f5;
  padding: 20px;
}

.input-row input[type="text"],
.input-row button,
.input-row select,
.input-row input[type="file"] {
  font-family: Arial, sans-serif; /* Set font family for input elements */
  font-weight: normal; /* Set font weight to normal */
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-row {
  flex: 1;
  display: flex;
  align-items: center;
}

.input-row input[type="text"],
.input-row button,
.input-row select {
  flex: 1;
  margin-right: 5px;
}

.input-row input[type="file"] {
  flex: 1;
  margin-right: 10px;
}

.input-row:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .background-image-container {
    height: auto;
  }

  .custom-h2 {
    font-size: 40px;
  }

  .newSong-div {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .custom-h2 {
    font-size: 30px;
  }
}
