.background-image-container {
  background-image: url('../images/orchestra-center stage (B&W).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.create-button {
  color: white;
  border-radius: 5px;
  background-color: #007BFF;
  border: 1px solid #ccc;
}

.create-button:hover {
  background-color: black; 
}

.song-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif; /* Set font family for all text inside .song-container-big */
}

.newSong-div {
  border-radius: 15px;
  width: 450px;
  background-color: #f5f5f5;
  padding: 20px;
  position: relative; /* Add position relative to make absolute positioning work */
}

.input-field {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.input-field input[type="text"],
.input-field button,
.input-field select {
  width: 100%;
}

.input-field:last-child {
  margin-bottom: 0;
}

.image-preview-box {
  width: 200px;
  height: 200px;
  border: 2px dashed black; /* Make the border color consistent for both image preview and dropzone */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  position: relative; /* Add position relative for absolute positioning */
  overflow: hidden; /* Hide overflow to prevent the dropzone from overflowing */
}

.image-preview-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.dropzone {
  position: absolute; /* Position the dropzone inside the preview box */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.dropzone.active {
  border-color: #007BFF;
}

@media only screen and (max-width: 768px) {
  .background-image-container {
    height: auto;
  }

  .newSong-div {
    width: 90%;
  }
}
