.containerForSongTable {
  max-width: 800px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%; /* Makes the search container take up the full width */
}

.search-input {
  flex: 1; /* Makes the search input stretch to fill available space */
  display: flex;
  align-items: center;
}

.search-input input {
  flex: 1; /* Makes the input take up all available space */
  margin-right: 5px; /* Adds spacing between input and button */
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Optionally, you could style the scrollbar */
.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: #007BFF;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: black;
}

.song-list {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.song-list li button {
  margin-left: 10px;
}
.song-list {
  margin-left: 20px;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .containerForSongTable {
    max-width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .containerForSongTable {
    max-width: 100%;
    padding: 0 10px;
  }
} 

